<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    
    <card>
        <title>Plugin Settings</title>
        <title lang="de-DE">Allgemeine Einstellungen</title>
        <input-field type="bool">
            <name>appointmentOrdersActive</name>
            <label>Activate appointment orders for the storefront</label>
            <label lang="de-DE">Terminbestellungen für Kunden aktivieren</label>
            <helpText>If toggled the required field to create an appoinment order are displayed to the customer.</helpText>
            <helpText lang="de-DE">Falls aktiviert werden die benötigten Felder, um eine Terminbestellung zu erstellen, für den Kunden angezeigt.</helpText>
        </input-field>
        <input-field>
            <name>minimumAppointmentDate</name>
            <label>Minimum days to be locked for appointments</label>
            <label lang="de-DE">Mindestanzahl an Tagen, welche für eine Terminbestellung gesperrt sind</label>
            <helpText>Fill in the number of days that shouldn't be available for appointment orders after today.</helpText>
            <helpText lang="de-DE">Geben Sie hier die Anzahl an Tagen an, welche für eine Terminbestellung gesperrt sind.</helpText>
        </input-field>
    </card>
    <card>
        <title>Notification settings</title>
        <title lang="de-DE">Benachrichtigungseinstellungen</title>

        <input-field>
            <name>notificationRecipients</name>
            <label>Name and Mail for recipients of notifications</label>
            <label lang="de-DE">Name und Mailadresse der Empfänger von Benachrichtigungen</label>          
            <placeholder>John Doe;john.doe@john.doe</placeholder>
            <placeholder lang="de-DE">Max Mustermann;mustermann@muster.man</placeholder>
            <helpText>Input as many recipients as needed in valid formation: NAME DELIMITER(;) MAIL</helpText>
            <helpText lang="de-DE">Geben Sie beliebig viele Empfänger für Benachrichtigungen in valider Form ein: NAME TRENNZEICHEN(;) MAILADRESSE.</helpText>
        </input-field>
    </card>
</config>