{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}
{% block page_checkout_item_container %}
    <template data-a-s-appointment></template>
    {% block as_appointmentorder_is_appointment %}
        <input type="checkbox"
                title="Check for appointment order"
                class=""
                id="appointment"
                form="isAppointment"
                name="appointment"/>
    {% endblock %}

    {% block as_appointmentorder_appointment_date %}
        <input type="date"
                name="yourName"
                id="yourID"
                placeholder=""
                data-datepicker="true" />
    {% endblock %}
    {{ parent() }}
{% endblock %}

{% block page_checkout_item_remove %}
    {{ parent() }}
    <button title="Another appointment order"
            class="btn btn-light btn-sm" href={{ path('frontend.checkout.clearCart') }}>
        {% sw_icon 'plus' style { 'size': 'sm' } %}
    </button>
{% endblock %}